<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="test.java.utils.Listeners.TestListener"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/wmachrao/OneDrive - Capgemini/Desktop/MavenVersionProject">
        <classes>
            <class name="test.java.Tests.US1.PRACAUTO_07">
                <methods>
                    <include name="TestdinscriptionFailed"/>
                    <include name="TestdinscriptionDone"/>
                </methods>
            </class>
            <class name="test.java.Tests.US2.PRACAUTO_24">
                <methods>
                    <include name="TestconnexionFailed"/>
                    <include name="TestconnexionDone"/>
                    <include name="TestRememberme"/>
                    <include name="LostMyPawd"/>
                </methods>
            </class>
            <class name="test.java.Tests.US3.PRACAUTO_25">
                <methods>
                    <include name="logoPresent"/>
                </methods>
            </class>
            <class name="test.java.Tests.US6.PRACAUTO_28">
                <methods>
                    <include name="TestDeDeconnexion"/>
                </methods>
            </class>
            <class name="test.java.Tests.US7.PRACTAUTO_29">
                <methods>
                    <include name="addArticleToCart"/>
                    <include name="addArticleToCartByImage"/>
                    <include name="addArticleToCartFromShopage"/>
                    <include name="addArticleToCartByLabel"/>
                    <include name="addArticleToCartByPrice"/>
                    <include name="verifyFilterByTheme"/>
                    <include name="verifyFilterByPrice1"/>
                    <include name="verifyViewBasket"/>
                    <include name="SaleArticlePresent"/>
                </methods>
            </class>
            <class name="test.java.Tests.US9.PRACAUTO_32">
                <methods>
                    <include name="DeletArticlFromBascket"/>
                    <include name="GoToPayement"/>
                    <include name="UpdateNombreDarticles"/>
                </methods>
            </class>
            <class name="test.java.Tests.US8.PRACAUTO_30">

                <methods>
                    <include name="AddArticlFromProductPage"/>
                    <include name="MakeLaQuantiteNull"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
